<h3> Workouts this Month</h3>
<hr>

<% @exercises.each do |exercise|  %>
    <div class="span2 hero-unit">
      <div class="span2" style="float:left">
        <span class="title"> Workout: <%=  exercise.name %> </span>
      </div>
      <div class="span2" style="float:left">
        <span class="title"> Type: <%= exercise.workout_type %></span>
      </div>
      <div class="span2">
        <span class="rating"> Duration(min:): <%= exercise.duration %> </span>
      </div>

		<div class="span1" style="float: right; text-align: right;">
			<%= link_to "Edit".html_safe, edit_exercise_path(exercise) %>
			<%= link_to "Delete".html_safe, exercise_path(exercise), :method => "delete" %>
		</div>
		


    </div>
	

<% end %>
<br>