<h3> Workouts this Month</h3>
<hr>
<%= link_to 'New Exercise', new_exercise_path %>
<br>
<% @exercises.each do |exercise|  %>
    <div class="span2 hero-unit">
      <div class="name span2" style="float:left">
        <strong> Workout: </strong><%=  exercise.name %> 
      </div>
      <div class="workout_type span2" style="float:left">
        <strong> Type: </strong><%= exercise.workout_type %>
      </div>
      <div class="duration span2">
        <strong> Duration(min): </strong><%= exercise.duration %> 
      </div>

		<div class="span1" style="float: right; text-align: right;">
			<%= link_to "Edit".html_safe, edit_exercise_path(exercise) %>
			<%= link_to "Delete".html_safe, exercise_path(exercise), :method => "delete" %>
		</div>
		


    </div>
	

<% end %>
<br>