<h2> New Workout </h2>
<hr>
<div class="span10" style="float:right">
  <div class="span9">
    <%= form_for(@exercise, :html => { :class => "form-horizontal" } ) do |f| %>
    <div class="control-group">
      <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :class => 'input-large' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :duration, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :duration, :class => 'input-large' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :workout_type, class: "control-label" %>
      <div class="controls">
        <%= f.select(:workout_type, options_for_select([%w"Cardio", %w"Weight-Lifting"])) %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.button :submit %>
      </div>
    </div>
    <% end %>
  </div>
</div>
  

  