<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        <%= csrf_meta_tag %>
        <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">
							<% if user_signed_in? %>
								<%= link_to "Fitness Helper", root_path, :class => "brand" %>
							<% else %>
								<%= link_to "Fitness Helper", new_user_session_path, :class => "brand" %>
							<% end %>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
									<% if !user_signed_in? %>
										<li><%= link_to('Login', new_user_session_path) %></li>
										<li><%= link_to('Sign Up', new_user_registration_path) %></li>
									<% else %>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Exercise <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><%= link_to 'View Workout Log'.html_safe, days_path %></li>
												<li><%= link_to 'Create New Workout'.html_safe, new_workout_path %></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Diet <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><%= link_to 'View Eating Tips' .html_safe, foods_path %></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Motivation <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><%= link_to 'View Quotes'.html_safe, motivation_index_path %></li>
												<li><%= link_to 'Create New Quote'.html_safe, new_motivation_path %></li>
												<li><%= link_to 'View Appearance Options'.html_safe, motivation_options_path %></li>
											</ul>
										</li>
										<!--<li><a href="#" style="color:red">Progress Chart</a></li>-->
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Data <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><%= link_to 'View Profile', user_path(current_user) %></li>
												<li><%= link_to 'View User Options'.html_safe, options_index_path %></li>
												<% if current_user.has_role? :admin %>
													<li><%= link_to('View Admin Options', users_path) %></li>
												<% end %>
												<li><%= link_to 'Fill Out New Survey'.html_safe, new_survey_path %></li>
											</ul>
										</li>
										<li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
                                    <% end %>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>

        <div class="container">
          <!-- add flash message logic here -->
          <% flash.each do |type, msg| %>
              <% if msg.is_a?(String) %>
                  <div class="alert alert-<%= type == :notice ? "success" : "error" %>">
                    <a class="close" data-dismiss="alert">&#215;</a>
                    <%= content_tag :div, msg, :id => "flash_#{type}" %>
                  </div>
              <% end %>
          <% end %>

          <!-- this is our content area -->
          <div style="min-height: 760px;">
            <%= yield %>
          </div>

          <!-- this is our footer -->
          <div style="text-align: center; margin-top: 180px; width:94%">
            <hr>
            <footer>
                <p>&copy; CSE/CIT 337 - Winter 2013</p>
            </footer>
            <hr>
          </div>
        </div> <!-- /container -->

    </body>
</html>